<div class="container" *ngIf="userDetails">
  <mat-toolbar>
    <span>Users Details</span>
  </mat-toolbar>
  <mat-card>
    <mat-card-content>
      <div class="row">
        <!-- left column -->
     
          <div class="col-md-3">
            <div class="text-center">
              <img src="{{userDetails.avatar}}" class="avatar img-circle" alt="avatar">
            </div>
          </div>

          <div class="col-md-9">
            <!-- edit form column -->
            <form class="my-form" [formGroup]="UserDetailsForm">
            <mat-form-field class="full-width">
              <mat-label> First Name</mat-label>
              <input matInput type="email" formControlName="first_name" placeholder="Email" required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Last Name</mat-label>
              <input matInput type="text"  formControlName="last_name" placeholder="Email" required>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input matInput formControlName="email"   type="email" placeholder="Email" required>
            </mat-form-field>
            <div class="alert alert-danger" role="alert" *ngIf="error">
              Error! {{error}}
            </div>
            <mat-card-actions>
              <button mat-raised-button type="submit" *ngIf="editMode" (click)="saveChanges()" color="primary">
                  <span *ngIf="loading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                  <span class="sr-only">Loading...</span>
                Save changes</button>
              <button mat-raised-button color="primary" type="button" (click)="enableInputs(false)"  *ngIf="editMode">Cancel</button>
              <button mat-raised-button color="primary" type="button" (click)="enableInputs(true)" *ngIf="!editMode">Edit</button>
            </mat-card-actions>
          </form>
          </div>
        
      </div>
    </mat-card-content>
  </mat-card>
</div>
<p class="text-center" *ngIf="!userDetails">Loading..</p>