<mat-toolbar>
   <span>Registration</span>
</mat-toolbar>
<form class="my-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
   <mat-card class="my-card">
      <mat-card-content>
         <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" placeholder="Email" required>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" placeholder="Password" required>
         </mat-form-field>
         <mat-form-field class="full-width">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="confirmPassword" placeholder="Password" required>
         </mat-form-field>
      </mat-card-content>
      <div class="alert alert-danger" role="alert" *ngIf="error">
         Error! {{error}}
      </div>
      <mat-card-actions>
         <button mat-raised-button color="primary">REGISTER</button>
      </mat-card-actions>
   </mat-card>
</form>