<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
     <span *ngIf="currentUser"><a routerLink="/users">HOME</a></span>
     <span class="spacer"></span>
     <a *ngIf="!currentUser" mat-button routerLink="/register">Register</a>
     <a *ngIf="!currentUser" mat-button routerLink="/login">Login</a>
     <a *ngIf="currentUser" mat-button (click)="logout()" >Logout</a>
  </mat-toolbar-row>
</mat-toolbar>