<mat-toolbar>
  <span>LOGIN</span>
</mat-toolbar>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="my-form">
  <mat-card class="my-card">
    <mat-card-content>

      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input formControlName="email" type="email" matInput placeholder="Email" name="email">
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input formControlName="password" type="password" matInput placeholder="Password" name="password">
      </mat-form-field>

    </mat-card-content>
    <div class="alert alert-danger" role="alert" *ngIf="error">
      Error! {{error}}
   </div>
    <mat-card-actions>
      <button mat-raised-button type="submit" color="primary">LOGIN</button>
    </mat-card-actions>
  </mat-card>
</form>