<div class="container" *ngIf="userList">
    <mat-toolbar>
      <span>Users List</span>
    </mat-toolbar>
    <mat-card>
      <mat-card-header><mat-form-field class="example-form-field">
        <input matInput type="text" placeholder="Search User" [(ngModel)]="searchText">
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field> </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let user of userList | filter:searchText; let i = index">
            <img matListAvatar src="{{user.avatar}}"
              alt="Photo of a Shiba Inu">
            <h3 matLine> {{user.first_name +""+user.last_name}} </h3>
            <p matLine>
              <span> {{user.email}} </span>
            </p>
            <p>
              <button mat-raised-button color="primary" (click)="showUserDetails(user.id)" >Details</button>
            </p>
            <p>
              <button class="ml-2" mat-raised-button color="warn" (click)="deleteUser(user.id,i)">Delete</button>
            </p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="text-center" *ngIf="loading">
    <p>Loading...</p>
  </div>
  